.container-fluid{
    .pageTitle{
        text-align: center;
    }
    .addList {
        float: right;
    }
    .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
      }
    .row {
        .boxes {
            .card-header {
            h4 {
                color: black;
                margin-top: 1%;
            }
            .box {
                padding: 0px;
                .icon {
                font-size: 25px;
                line-height: 50px;
                width: 38px;
                height: 38px;
                text-align: center;
                }
            }
            .card-category {
                font-size: 0.75rem;
            }
            .box-title {
                font-size: 0.85rem;
                padding: 10px;
            }
            .quarter {
                float: right;
                margin-top: -7%;
                button {
                height: 26px;
                width: 85%;
                padding: 5px 25px 10px 10px;
                }
                ul {
                min-width: 9rem;
                cursor: pointer;
                padding: 0;
                }
            }
            .box-footer {
                margin: 0 15px 2px;
                margin-top: 10px;
            }
            }
            .card-body {
            .col-lg-6 {
                flex: 0 0 48%;
                max-width: 49%;
                display: inline-block;
                padding: 20px;
                .card {
                margin-top: 15px;
                margin-bottom: 0px;
                z-index: 1;
                }
            }
            }
        }
    }
}
